.tree {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background: rgb(50, 50, 50);
  overflow: auto;
  text-align: center;
}

.innerTree {
  position: relative;
  margin: auto 0;
  display: inline-block;
}
