.node {
  position: absolute;
  display: inline-block;
  width: 56px;
  height: 56px;


  &.locked .talentGroup {
    border: 2px solid rgb(255, 180, 50);
  }


  &.disabled .talentGroup {
    border: 2px solid red;
    &:after {
      display: inline-block;
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: rgba(155, 0, 0, 0.5);
    }
  }

  &.pvp-talent {
    position: relative;
    margin: 5px;
  }

  &:hover .rank,&.locked .rank {
    display: block;
  }

}

.talentGroup {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
  background: rgb(60, 60, 60);

  &:hover {
    border: 2px solid rgb(200, 200, 200);
  }
}

.active .talentGroup {
  border-radius: 10px;
}

.passive .talentGroup {
  border-radius: 28px;
}

.choice .talentGroup {
  border-radius: 19px;
}

.usage, .rank {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  pointer-events: none;
  text-align: center;
  
  span {
    font-weight: bold;
    font-size: 0.7em;
    padding: 2px 5px;
    margin: 0;
    margin-top: -20px;
    border-radius: 5px;
    background: rgb(70,70,70);
    border: 1px solid black;
  }
}

.rank {
  display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  top: auto;
  pointer-events: none;
}


.talent {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;

  &.split {
    width: 50%;
    &:nth-child(1) {
      right: 0px;
    }
  }

  &.disabled {
    opacity: 100% !important;
  }
}
