apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: gha-runner-scale-set
    repo: oci://ghcr.io/actions/actions-runner-controller-charts
    namespace: moonkinmetrics
    releaseName: gha-runner
    version: 0.13.0
    valuesFile: values.yaml

resources:
  - pvc.yaml
